
.body {
    background-color: blueviolet;
}

.nav-item, .navbar-brand, .button-container {
    background-color: grey;
    width: 250px;
    font-size: 20px;
    color:black;
    border: 1px solid black;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    text-align: center;
}  
.div {
    background-color: blueviolet;
}
header, .h1, .h3 {
    padding: 20px 35px;   
    background-color: cornflowerblue;  
    background-size: cover;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
    top: 0;    
  }

.goBack, .clear-highscore .start-quiz {
    background-color: grey;
    width: 250px;
    font-size: 20px;
    color:black;
    border: 1px solid black;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    text-align: center;
}  

.grid {
    width: auto;
    height: 500px;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 10, 50, 50, 50;
    border: 2px solid cornflowerblue;
}

.grid h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cornsilk;
    font-size: 60px;
    text-align: center;
    color: forestgreen;
    padding: 2px 0;
}

#score {
    color: gold;
    text-align: center;
    font-size: 30px;
}
.grid #question {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: gold;
    text-align: center;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}


#btn0, #btn1, #btn2, #btn3 {
    background-color: grey;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid black;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
   
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: cadetblue;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

.footer {
    
    padding: 20px 35px;   
    background-color: cornflowerblue;  
    background-size: cover;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
    top: 0;   
    margin-bottom: auto 0; 
    }

#progress {
    color: darkblue;
    font-size: 25px;
}